{
    "openapi": "3.0.0",
    "info": {
        "title": "Bahaa-Eldin API",
        "description": "Auto-generated OpenAPI documentation",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://kayancode.com",
            "description": "Production server"
        }
    ],
    "paths": {
        "/api/v1/activity-logs": {
            "get": {
                "tags": [
                    "Activity Logs"
                ],
                "summary": "List all activity logs",
                "operationId": "65e116dda82fa9affdd5cdd34e062068",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "action",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "entity_type",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "entity_id",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "branch_id",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "date_from",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "date_to",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search in description",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of activity logs"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/activity-logs/{id}": {
            "get": {
                "tags": [
                    "Activity Logs"
                ],
                "summary": "Get activity log details",
                "operationId": "3a6526001f942f5c71af0ddd498163c7",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Activity log details"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/activity-logs/entity/{entity_type}/{entity_id}": {
            "get": {
                "tags": [
                    "Activity Logs"
                ],
                "summary": "Get activity logs for a specific entity",
                "operationId": "77d4f340d16ecb119b9a05ddc443ac76",
                "parameters": [
                    {
                        "name": "entity_type",
                        "in": "path",
                        "description": "Entity type (e.g., Order, Payment)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "entity_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Entity activity logs"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/activity-logs/user/{user_id}": {
            "get": {
                "tags": [
                    "Activity Logs"
                ],
                "summary": "Get activity logs for a specific user",
                "operationId": "95e33349811e791629ea3a4775e6fdf4",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User activity logs"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/activity-logs/my": {
            "get": {
                "tags": [
                    "Activity Logs"
                ],
                "summary": "Get current user's activity logs",
                "operationId": "e93f7919de6ab2462760bd23b5c5464e",
                "responses": {
                    "200": {
                        "description": "User's activity logs"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/activity-logs/today": {
            "get": {
                "tags": [
                    "Activity Logs"
                ],
                "summary": "Get today's activity logs",
                "operationId": "19dcf48cb52f1bed3e9a913032036df7",
                "responses": {
                    "200": {
                        "description": "Today's activity logs"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/activity-logs/actions": {
            "get": {
                "tags": [
                    "Activity Logs"
                ],
                "summary": "Get all available actions",
                "operationId": "69a56732dcb9fc675c0ede6bfebbb2c4",
                "responses": {
                    "200": {
                        "description": "List of actions"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/activity-logs/statistics": {
            "get": {
                "tags": [
                    "Activity Logs"
                ],
                "summary": "Get activity statistics",
                "operationId": "e8391b5b10e16530d47728bd69450cd6",
                "parameters": [
                    {
                        "name": "date_from",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "date_to",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Activity statistics"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/activity-logs/deletions": {
            "get": {
                "tags": [
                    "Activity Logs"
                ],
                "summary": "Get recent deletion logs",
                "operationId": "b659416bf53bdae9695e81545c99ecc3",
                "parameters": [
                    {
                        "name": "days",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 7
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deletion logs"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/activity-logs/login-attempts": {
            "get": {
                "tags": [
                    "Activity Logs"
                ],
                "summary": "Get login attempt logs",
                "operationId": "d09cce00eb8452c44c63f1d3567c2b6f",
                "parameters": [
                    {
                        "name": "failed_only",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Login attempt logs"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/addresses": {
            "get": {
                "tags": [
                    "Addresses"
                ],
                "summary": "List all addresses",
                "operationId": "b486fd65e18e82c20e149883632bae4d",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "street": {
                                                        "type": "string",
                                                        "example": "Tahrir St"
                                                    },
                                                    "building": {
                                                        "type": "string",
                                                        "example": "2A"
                                                    },
                                                    "notes": {
                                                        "type": "string",
                                                        "example": "Next to bank",
                                                        "nullable": true
                                                    },
                                                    "city_id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "city": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Cairo"
                                                            },
                                                            "country_id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "country": {
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "integer",
                                                                        "example": 1
                                                                    },
                                                                    "name": {
                                                                        "type": "string",
                                                                        "example": "Egypt"
                                                                    }
                                                                },
                                                                "type": "object",
                                                                "nullable": true
                                                            }
                                                        },
                                                        "type": "object",
                                                        "nullable": true
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "current_page": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "total": {
                                            "type": "integer",
                                            "example": 100
                                        },
                                        "total_pages": {
                                            "type": "integer",
                                            "example": 7
                                        },
                                        "per_page": {
                                            "type": "integer",
                                            "example": 15
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Create a new address",
                "operationId": "80d1b15a40b77b8584aec349bc414942",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "street",
                                    "building",
                                    "city_id"
                                ],
                                "properties": {
                                    "city_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "street": {
                                        "type": "string",
                                        "example": "Tahrir St"
                                    },
                                    "building": {
                                        "type": "string",
                                        "example": "2A"
                                    },
                                    "notes": {
                                        "type": "string",
                                        "example": "Next to bank"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Address created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "street": {
                                            "type": "string",
                                            "example": "Tahrir St"
                                        },
                                        "building": {
                                            "type": "string",
                                            "example": "2A"
                                        },
                                        "notes": {
                                            "type": "string",
                                            "example": "Next to bank",
                                            "nullable": true
                                        },
                                        "city_id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "city": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Cairo"
                                                },
                                                "country_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "country": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Egypt"
                                                        }
                                                    },
                                                    "type": "object",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/addresses/{id}": {
            "get": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Get an address by ID",
                "operationId": "b7ed03f86ceb4ee186e7ae97bbaab745",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "street": {
                                            "type": "string",
                                            "example": "Tahrir St"
                                        },
                                        "building": {
                                            "type": "string",
                                            "example": "2A"
                                        },
                                        "notes": {
                                            "type": "string",
                                            "example": "Next to bank",
                                            "nullable": true
                                        },
                                        "city_id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "city": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Cairo"
                                                },
                                                "country_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "country": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Egypt"
                                                        }
                                                    },
                                                    "type": "object",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Update an address",
                "operationId": "3baa6e490bcf52d51981bea4f6b7a9a5",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "city_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "street": {
                                        "type": "string",
                                        "example": "New Street"
                                    },
                                    "building": {
                                        "type": "string",
                                        "example": "5B"
                                    },
                                    "notes": {
                                        "type": "string",
                                        "example": "Updated notes"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Address updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "street": {
                                            "type": "string",
                                            "example": "New Street"
                                        },
                                        "building": {
                                            "type": "string",
                                            "example": "5B"
                                        },
                                        "notes": {
                                            "type": "string",
                                            "example": "Updated notes",
                                            "nullable": true
                                        },
                                        "city_id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "city": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Cairo"
                                                },
                                                "country_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "country": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Egypt"
                                                        }
                                                    },
                                                    "type": "object",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Delete an address",
                "operationId": "ed9806f9c55f77e089743878cf51fecb",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Address deleted"
                    },
                    "404": {
                        "description": "Resource not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/addresses/export": {
            "get": {
                "tags": [
                    "Addresses"
                ],
                "summary": "Export all addresses to CSV",
                "operationId": "f5a8cb2d7aaeb4cb58918d01603e4d4b",
                "responses": {
                    "200": {
                        "description": "CSV file download",
                        "content": {
                            "text/csv": {}
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/attendance": {
            "get": {
                "tags": [
                    "Attendance"
                ],
                "summary": "List all attendance records",
                "operationId": "f89371e53a5ebb7fe66d6f72549538c3",
                "parameters": [
                    {
                        "name": "employee_id",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "branch_id",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "date_from",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "date_to",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "is_late",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "year",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "month",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of attendance records"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Attendance"
                ],
                "summary": "Create/update attendance record (admin)",
                "operationId": "fdcbe4bb64c40d81008c563c8d98a337",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "employee_id",
                                    "date"
                                ],
                                "properties": {
                                    "employee_id": {
                                        "type": "integer"
                                    },
                                    "date": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "branch_id": {
                                        "type": "integer"
                                    },
                                    "check_in": {
                                        "type": "string",
                                        "example": "09:00:00"
                                    },
                                    "check_out": {
                                        "type": "string",
                                        "example": "17:00:00"
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "present",
                                            "absent",
                                            "half_day",
                                            "holiday",
                                            "weekend",
                                            "leave"
                                        ]
                                    },
                                    "notes": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Attendance record saved"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/attendance/check-in": {
            "post": {
                "tags": [
                    "Attendance"
                ],
                "summary": "Record check-in for current user",
                "operationId": "88c3711f8620a112ba2521e19d9a074a",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "branch_id": {
                                        "type": "integer"
                                    },
                                    "notes": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Check-in recorded"
                    },
                    "400": {
                        "description": "Already checked in"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Employee profile not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/attendance/check-out": {
            "post": {
                "tags": [
                    "Attendance"
                ],
                "summary": "Record check-out for current user",
                "operationId": "a03e41a6e117669a5efcc94a6da44f1e",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "notes": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Check-out recorded"
                    },
                    "400": {
                        "description": "Not checked in"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Employee profile not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/attendance/my": {
            "get": {
                "tags": [
                    "Attendance"
                ],
                "summary": "Get current user's attendance records",
                "operationId": "b81fbb908ee8c3f4f57224cac3c56535",
                "parameters": [
                    {
                        "name": "date_from",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "date_to",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "year",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "month",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User's attendance records"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Employee profile not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/attendance/today": {
            "get": {
                "tags": [
                    "Attendance"
                ],
                "summary": "Get current user's attendance for today",
                "operationId": "32e6ad3658b2bc9654a1aef215b2b80d",
                "responses": {
                    "200": {
                        "description": "Today's attendance"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Employee profile not found or no attendance today"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/attendance/summary/{employee_id}/{period}": {
            "get": {
                "tags": [
                    "Attendance"
                ],
                "summary": "Get attendance summary for an employee",
                "operationId": "b1bdacd2f875e842c07fe12abb86191b",
                "parameters": [
                    {
                        "name": "employee_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "period",
                        "in": "path",
                        "description": "Format: YYYY-MM",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Attendance summary"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Employee not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/attendance/{id}": {
            "get": {
                "tags": [
                    "Attendance"
                ],
                "summary": "Get specific attendance record",
                "operationId": "c41fb9f6aaeeda0dcb1fb75e3ee4548f",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Attendance record details"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Attendance"
                ],
                "summary": "Update attendance record",
                "operationId": "5af4f42318fd51028b495ee7c451703b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "check_in": {
                                        "type": "string",
                                        "example": "09:00:00"
                                    },
                                    "check_out": {
                                        "type": "string",
                                        "example": "17:00:00"
                                    },
                                    "status": {
                                        "type": "string"
                                    },
                                    "notes": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Attendance updated"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Attendance"
                ],
                "summary": "Delete attendance record",
                "operationId": "a44340d961f060dca87053e930f4b9eb",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Attendance deleted"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/attendance/statuses": {
            "get": {
                "tags": [
                    "Attendance"
                ],
                "summary": "Get all attendance statuses",
                "operationId": "59119814253cbbe055f9455ece80adb6",
                "responses": {
                    "200": {
                        "description": "List of statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "statuses": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "key": {
                                                        "type": "string",
                                                        "example": "present"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Present"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/attendance/bulk": {
            "post": {
                "tags": [
                    "Attendance"
                ],
                "summary": "Bulk create attendance records (for marking absences, holidays, etc.)",
                "operationId": "70c4ae44cd9dce57e8b2c5d946bfecd1",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "employee_ids",
                                    "date",
                                    "status"
                                ],
                                "properties": {
                                    "employee_ids": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        }
                                    },
                                    "date": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "status": {
                                        "type": "string"
                                    },
                                    "notes": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Bulk records created"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/attendance/report": {
            "get": {
                "tags": [
                    "Attendance"
                ],
                "summary": "Get attendance report for date range",
                "operationId": "6e2ac35b3857775bbf01ed8f16513d9f",
                "parameters": [
                    {
                        "name": "date_from",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "date_to",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "department_id",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "branch_id",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Attendance report"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Login",
                "description": "Login using email and password. Returns a Sanctum token on success.",
                "operationId": "da2ca4d7a5cdec77b8b45a20373535cb",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful login",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "user": {
                                            "type": "object"
                                        },
                                        "token": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid credentials",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "description": "MySQL datetime format: Y-m-d H:i:s",
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2025-12-02 23:33:25"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "errors": {
                                            "type": "object"
                                        },
                                        "status": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "description": "MySQL datetime format: Y-m-d H:i:s",
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2025-12-02 23:33:25"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "description": "MySQL datetime format: Y-m-d H:i:s",
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2025-12-02 23:33:25"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Logout",
                "description": "Logout and revoke the current token.",
                "operationId": "c4eddaf1a2e990cc90e4326c0d731d41",
                "responses": {
                    "200": {
                        "description": "Logged out",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "description": "MySQL datetime format: Y-m-d H:i:s",
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2025-12-02 23:33:25"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "description": "MySQL datetime format: Y-m-d H:i:s",
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2025-12-02 23:33:25"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "errors": {
                                            "type": "object"
                                        },
                                        "status": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "description": "MySQL datetime format: Y-m-d H:i:s",
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2025-12-02 23:33:25"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "integer"
                                        },
                                        "timestamp": {
                                            "description": "MySQL datetime format: Y-m-d H:i:s",
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2025-12-02 23:33:25"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/branches": {
            "get": {
                "tags": [
                    "Branches"
                ],
                "summary": "List all branches",
                "operationId": "7c892fd2bf257dbb5bac1c25cd8f6355",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "branch_code": {
                                                        "type": "string",
                                                        "example": "BR-001"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Downtown Branch"
                                                    },
                                                    "address_id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "address": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "street": {
                                                                "type": "string",
                                                                "example": "Tahrir Square"
                                                            },
                                                            "building": {
                                                                "type": "string",
                                                                "example": "2A"
                                                            },
                                                            "notes": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "city_id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "city": {
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "integer",
                                                                        "example": 1
                                                                    },
                                                                    "name": {
                                                                        "type": "string",
                                                                        "example": "Cairo"
                                                                    },
                                                                    "country_id": {
                                                                        "type": "integer",
                                                                        "example": 1
                                                                    },
                                                                    "country": {
                                                                        "properties": {
                                                                            "id": {
                                                                                "type": "integer",
                                                                                "example": 1
                                                                            },
                                                                            "name": {
                                                                                "type": "string",
                                                                                "example": "Egypt"
                                                                            }
                                                                        },
                                                                        "type": "object",
                                                                        "nullable": true
                                                                    }
                                                                },
                                                                "type": "object",
                                                                "nullable": true
                                                            }
                                                        },
                                                        "type": "object",
                                                        "nullable": true
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "current_page": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "total": {
                                            "type": "integer",
                                            "example": 100
                                        },
                                        "total_pages": {
                                            "type": "integer",
                                            "example": 7
                                        },
                                        "per_page": {
                                            "type": "integer",
                                            "example": 15
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Branches"
                ],
                "summary": "Create a new branch",
                "operationId": "0b8da428d879826702a00bd8aa0051a0",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "branch_code",
                                    "name",
                                    "address"
                                ],
                                "properties": {
                                    "branch_code": {
                                        "type": "string",
                                        "example": "BR-001"
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "Downtown Branch"
                                    },
                                    "address": {
                                        "required": [
                                            "street",
                                            "building",
                                            "city_id"
                                        ],
                                        "properties": {
                                            "street": {
                                                "type": "string",
                                                "example": "Tahrir Square"
                                            },
                                            "building": {
                                                "type": "string",
                                                "example": "2A"
                                            },
                                            "city_id": {
                                                "type": "integer",
                                                "example": 1
                                            },
                                            "notes": {
                                                "type": "string",
                                                "example": "Next to the bank, 3rd floor"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "inventory_name": {
                                        "description": "Optional: name for the automatically created inventory",
                                        "type": "string",
                                        "example": "Downtown Branch Inventory"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Branch created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "branch_code": {
                                            "type": "string",
                                            "example": "BR-001"
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "Downtown Branch"
                                        },
                                        "address_id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "address": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "street": {
                                                    "type": "string",
                                                    "example": "Tahrir Square"
                                                },
                                                "building": {
                                                    "type": "string",
                                                    "example": "2A"
                                                },
                                                "notes": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "city_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "city": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Cairo"
                                                        },
                                                        "country_id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "country": {
                                                            "properties": {
                                                                "id": {
                                                                    "type": "integer",
                                                                    "example": 1
                                                                },
                                                                "name": {
                                                                    "type": "string",
                                                                    "example": "Egypt"
                                                                }
                                                            },
                                                            "type": "object",
                                                            "nullable": true
                                                        }
                                                    },
                                                    "type": "object",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/v1/branches/{id}": {
            "get": {
                "tags": [
                    "Branches"
                ],
                "summary": "Get a branch by ID",
                "operationId": "1a236182b98814bd1f7736eaa1c7d8da",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "branch_code": {
                                            "type": "string",
                                            "example": "BR-001"
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "Downtown Branch"
                                        },
                                        "address_id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "address": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "street": {
                                                    "type": "string",
                                                    "example": "Tahrir Square"
                                                },
                                                "building": {
                                                    "type": "string",
                                                    "example": "2A"
                                                },
                                                "notes": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "city_id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "city": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Cairo"
                                                        },
                                                        "country_id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "country": {
                                                            "properties": {
                                                                "id": {
                                                                    "type": "integer",
                                                                    "example": 1
                                                                },
                                                                "name": {
                                                                    "type": "string",
                                                                    "example": "Egypt"
                                                                }
                                                            },
                                                            "type": "object",
                                                            "nullable": true
                                                        }
                                                    },
                                                    "type": "object",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource not found"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Branches"
                ],
                "summary": "Update a branch",
                "operationId": "d6d03526448f6aa452895f792a9bdd01",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "branch_code": {
                                        "type": "string",
                                        "example": "BR-001-UPDATED"
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "Uptown Branch"
                                    },
                                    "address": {
                                        "required": [
                                            "street",
                                            "building",
                                            "city_id"
                                        ],
                                        "properties": {
                                            "street": {
                                                "type": "string",
                                                "example": "Tahrir Square"
                                            },
                                            "building": {
                                                "type": "string",
                                                "example": "2A"
                                            },
                                            "city_id": {
                                                "type": "integer",
                                                "example": 1
                                            },
                                            "notes": {
                                                "type": "string",
                                                "example": "Next to the bank, 3rd floor"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "inventory_name": {
                                        "description": "Optional: name for the inventory",
                                        "type": "string",
                                        "example": "Uptown Branch Inventory"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Branch updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "branch_code": {
                                            "type": "string",
                                            "example": "BR-001-UPDATED"
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "Uptown Branch"
                                        },
                                        "address_id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "address": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "street": {
                                                    "type": "string",
                                                    "example": "Tahrir Square"
                                                },
                                                "building": {
                                                    "type": "string",
                                                    "example": "2A"
                                                },
                                                "notes": {
                                                    "type": "string",
                                                    "nullable": true
[...]
